body {
  background: url("../images/cannon_beach_background.jpeg") no-repeat fixed;
  background-size: cover;
}

.headerbox {
  height: 300px;
  width: 100%;
  padding-top: 35px;
}

.headerbox h1{
  font-size: 190px;
  color: #D700AD;
  text-align: center;
}

#row-style {
margin-left: 50px;
margin-right: 30px;
}

.outer {
  top: 0;
  right: 0;
  z-index: 200;
  width: 320px;
  height: 700px;
}

.middle {
  max-width: 300px;
}

.inner {
  overflow: auto;
  position: absolute;
  bottom: 0;
  top: 0;
  padding-right: 20px;
  padding-left: 10px;
  font-size: 20px;
  color: #FFFFFF;
}

.title-font {
  color: #D700AD;
}

.font-color {
  color: #00E0FF;
}
